 <html>
  <head>
    <meta charset=“utf-8”>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>VRoom</title>
	  <script src="js/vendor/aframe.min.js"></script>
	  <script src="js/vendor/aframe-passthrough-component.min.js"></script>
    <script src="js/vendor/simplewebrtc.js"></script> 
    <script src="js/vendor/jquery-3.1.0.min.js"></script> 
    <script src="https://unpkg.com/aframe-template-component@^3.2.1/dist/aframe-template-component.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component@^0.5.0/dist/aframe-text-geometry-component.min.js"></script>
    <script src="https://rawgit.com/ngokevin/aframe-look-at-component/master/dist/aframe-look-at-component.min.js"></script>

  </head>
  <body>
  <p id="nick" hidden><%- nick %></p>
  <p id="roomName" hidden><%- room %></p>
  <p id="TTS-access-token" hidden><%- TTS_access_token %></p>
  <p id="teacher-lang" hidden><%- teacher_lang %></p>
  <p id="audio-lang" hidden><%- audio_lang %></p>
  <p id="sub-lang" hidden><%- sub_lang %></p>

<a-scene id = "scene">
      <a-entity id = "subs" position="0 2 -10"
                geometry="primitive: plane; width: auto; height: auto" material="color: white"
                  text="color: #2980b9; align: center; value: VR Classroom; width: 12; ">
      </a-entity>


      <a-entity id = "tags" position="8 6 -10" rotation = "0 -20 0"
                geometry="primitive: plane; width: auto; height: auto" material="color: white"
                  text="color: #2980b9; align: center; value: Tags; width: 7; ">
      </a-entity>

      <a-entity id = "scrapedData" position="10 4 2" rotation = "0 -80 0"
                geometry="primitive: plane; width: auto; height: auto" material="color: white"
                  text="color: #2980b9; align: center; value: Scraped Data; width: 7; ">
      </a-entity>
 
  <a-sky id = "sky" color="#2980b9"></a-sky>
  	
  <a-assets>
    <img id="highlight1" src="radial-highlight.png">
    <img id="shadow3" src="radial-shadow-3.png">
  </a-assets>
  <a-assets>
    <a-mixin id="arm" geometry="primitive: box; depth: 0.08; height: 0.5; width: 0.08"
                          material="color: #222; shader: flat"></a-mixin>
            <a-mixin id="eye" geometry="primitive: circle"
                          material="shader: flat; side: double"></a-mixin>
        
            <script id="avatar-template" type="text/html-template">


              <!-- Face. -->

              <a-entity rotation="0 180 0">
                    <a-entity mixin="eye" geometry="radius: 0.08"
                          material="shader: flat; side: double"
                          position="-0.1 0.1 0.18">
                  <a-entity mixin="eye" geometry="radius: 0.02"
                            material="color: #222"
                            position="0 0 0.03"></a-entity>
                </a-entity>
                <a-entity mixin="eye" geometry="radius: 0.08" position="0.1 0.1 0.18">
                  <a-entity mixin="eye" geometry="radius: 0.02"
                            material="color: #222" position="0 0 0.03"></a-entity>
                </a-entity>
              </a-entity>
              <!-- Arms. -->
              <a-entity class="arms" position="0 -0.3 0">
                <a-entity mixin="arm" position="-0.3 -0.25 0" rotation="0 0 -10"></a-entity>
                <a-entity mixin="arm" position="0.3 -0.25 0" rotation="0 0 10"></a-entity>
              </a-entity>
            <!--name-->
            <a-entity class="nicker" geometry="primitive: plane; width: 2; height: auto" position = "0 .7 0" material="color: white"
                  text="color: #2980b9; align: center; value: <%- nick %>; width: 5;" look-at="#cam"></a-entity>
            </script>
            <a-mixin id="avatar"
                    geometry="primitive: box; depth: 0.3; height: 0.3; width: 0.3"
                    material="color: #222"
                    template="src: #avatar-template"></a-mixin>
  </a-assets>
     <a-entity id = "avt" mixin="avatar" position = "0 1.4 0"></a-entity> 
      <a-entity id = "cam" position="0 0 0">
        <a-camera></a-camera>
      </a-entity>

  <a-entity position="0 0 -10">
    <a-image position="0 -.2 5" src="#highlight1" rotation="-90 0 0"
             scale="30 30 30">
     </a-image>
  </a-entity>

  <a-assets>
    <canvas id="helloWorldCanvas" crossOrigin="anonymous">
    </canvas>
  </a-assets>
  <a-entity material="shader: flat; src: #helloWorldCanvas"
                geometry="primitive: plane; width: 9; height: 3"
                position="0 0 -20" rotation="0 0 0">
  </a-entity>


  <a-assets>
    <video id="penguin-sledding" autoplay src="#"></video>
  </a-assets>
  <!-- Using the asset management system. -->
  <a-video src="#penguin-sledding" width="24" height="13.5" position="8 9 -26" rotation = "0 -46.8 0"></a-video>

  <a-plane src= "vr-lecture.jpg"  width="24" height="13.5" position="-8 9 -24.8" rotation = "0 62.16 0"></a-plane>
<!--  <a-assets>
    <video id="penguin-sledding" autoplay src="#"></video>
  </a-assets>

  <a-video src="#penguin-sledding" width="24" height="13.5" position="-8 9 -24.8" rotation = "0 62.16 0"></a-video>

  <!-- Defining the URL inline. Not recommended but more comfortable for web developers. -->


  <a-asset-item id="dna-obj" src="DNA.obj"></a-asset-item>
    <a-asset-item id="dna-mtl" src="chair-test.mtl"></a-asset-item>
  </a-assets>

  <a-entity id = "responsive">

  </a-entity>
</a-scene>

<script>

		var socket = io();
    var ID;
    socket.on("id", function(id) {
      ID = id;
      document.getElementById("avt").setAttribute("id", ID);
      document.getElementById(ID).setAttribute("visible", "false")
    })

    socket.on("data", function(data) {
      document.getElementById(data.id).setAttribute("rotation", data.rotation);
    });

    socket.on("add", function(data) {
      var node = document.createElement("a-entity");
      node.setAttribute("id", data.id)
      node.setAttribute("mixin", "avatar")
      node.setAttribute("position", data.position + " 1.4 0");
      document.getElementById("scene").appendChild(node)
			$('.nicker').last().css('text', 'color: #2980b9; align: center; value: ' + "data.nick" + '; width: 5;')
    });
    socket.on("position", function(positions) {
      document.getElementById(socket.id).setAttribute("position", positions + " 1.4 0");
      document.getElementById("cam").setAttribute("position", positions + " 0 0");
    });

    socket.emit("nick", $('#nick').html());



    </script>
    <script src = "js/index.js"></script>

  <script src="js/AudioTranslation.js"> </script>
  <script src="js/MediaStreamRecorder.js"></script>
  <script src="js/client.js"> </script>

  </body>
</html>

<script>
  var canvas = document.getElementById("helloWorldCanvas");
  var ctx = canvas.getContext("2d");
  ctx.font = "30px Arial";
  ctx.fillText("",10,50);
</script>